.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.mainTitle {
  color: var(--active);
  text-shadow: 0 0 10px black;
}

.button {
  width: 400px;
  height: 100px;
  font-size: 38px;
  border-radius: 20px;
}
